<h1>♥♥</h1>
<p><strong>My Instapaper favourites.</strong><br>
  This list is generated from the contents of a single Instapaper folder using the Instapaper API.<br>
  The code is open-sourced and available to everyone at <a href="http://github.com/kolber/readinglist">http://github.com/kolber/readinglist</a>.</p>
<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="<%= article.url %>" class="title" title="<%= article.url %>">
        <strong><%= Time.at(article.time).strftime("%B %d") %></strong>
        <%= article.title %>&nbsp;<em>↬</em>
        <span class="link"><%= article.url %></span>
      </a>
    </li>
  <% end %>
</ul>