<h2><%= @user.username %>’s reading list</h2>
<p>
  <% unless @user.twitter_id.empty?  %>
    A carefully curated list of articles that <a href="http://twitter.com/<%= @user.twitter_id %>">@<%= @user.twitter_id %></a> thinks are worth reading.</p>
  <% else %>
    A carefully curated list of atricles that <%= @user.username %> thinks are worth reading.</p>
  <% end %>
<ul>
  <% if @articles.length > 0 %>
    <% @articles.each do |article| %>
      <li>
        <a href="<%= article.url %>" class="title" title="<%= article.url %>"></span>
        <a href="<%= article.url %>" class="title" title="<%= article.url %>">
          <strong><%= Time.at(article.time.to_i).strftime("%B %d") %></strong><br>
          <%= article.title %>
          <span class="link"><%= article.url %></span>
        </a>
        <span class="save-to-instapaper"><iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0" style="border: 0px; background-color: transparent; overflow: hidden;" src="http://www.instapaper.com/e2?url=<%= URI.escape(article.url) %>&amp;title=<%= URI.escape(article.title) %>"></iframe>
      </li>
    <% end %>
  <% else %>
    <p class="highlight">There are no articles in <%= @user.username %>’s ‘<%= @user.folder_name %>’ folder yet.</p>
  <% end %>
</ul>