<h2>Share an Instapaper folder with the world</h2>
<form action="/new" method="post" accept-charset="utf-8">
  <p>Reading Lists allows you to share the contents of one of your Instapaper folders. The contents of your folder are scanned and updated every hour.</p>
  <p><em>One thing, you need to be an <a href="http://www.instapaper.com/subscription">Instapaper subscriber</a> to use the service. Marco has locked non-subscribers out of his API, so if you’re not, we’re not allowed to access your folders.</em></p>

  <fieldset>
    <label for="username">Instapaper username:</label>
    <input type="text" name="username" value="<%= params[:username] || "" %>" id="username">
  </fieldset>

  <fieldset>
    <label for="password">Instapaper password:</label>
    <input type="password" name="password" value="" id="password">
  </fieldset>

  <% if flash[:auth_error] %>
    <p class="error">Your Instapaper username/password was rejected by the Instapaper API. Have you recently changed it?</p>
  <% elsif flash[:no_subscription] %>
    <p class="error">It looks like you’re not an Instapaper subscriber, so we aren’t allowed to access your folders.
      <a href="http://www.instapaper.com/subscription">Becoming an subscriber</a> is easy, supports the Instapaper project and only costs $1/month.</p>

  <% else %>
    <p>Your Instapaper username/password are never stored, only sent to Instapaper to authorise your account.</p>
  <% end %>

  <fieldset>
    <label for="folder_name">The name of the Instapaper folder you would like to share:</label>
    <input type="text" name="folder_name" value="<%= params[:folder_name] || "" %>" id="folder_name">
  </fieldset>
  <p>The folder doesn’t have to exist yet. You can set it up here, then go and create it in your Instapaper account later.</p>

  <fieldset>
    <label for="twitter_id">Your twitter username (optional):</label><br>
    <input type="text" name="twitter_id" value="<%= params[:twitter_id] || ""  %>" id="twitter_id">
  </fieldset>
  <p>You don’t need to provide your Twitter username, but if you do, we’ll link it up on your list page.</p>

  <fieldset>
    <label for="url">Your preferred url:</label><br>
    <span>http://<%= request.host_with_port %>/<input type="text" name="url" value="<%= params[:url] || ""  %>" id="url"></span>
    <% if flash[:duplicate_username] %>
      <p class="error">Sorry, someone is already using <a href="http://<%= request.host_with_port+'/'+params[:url]%>">http://<%= request.host_with_port+'/'+params[:url]%></a>. Please choose a different url.</p>
    <% end %>
  </fieldset>

  <fieldset>
    <button type="submit">Share —</button>
  </fieldset>
</form>