<h2>Share your own reading list</h2>
<form action="/new" method="post" accept-charset="utf-8">

  <p>Every so often you come across a piece of writing on the internet which truly surpasses the concept of a ‘like’.<br>
    Writing which inspires. Writing which feels <em>important</em>.</p>
  <p>Since being introduced to Liz Danzico’s <a href="http://bobulate.com/post/595878510/text-playlist">Text playlist article</a> I have begun collecting these pieces into an Instapaper folder for later reference.</p>
  <p>This service has been built to help share these types of Instapaper folders with the world.</p>

  <p><em>One caveat, you need to be an <a href="http://www.instapaper.com/subscription">Instapaper subscriber</a> to use the service. Non-subscribers aren’t alllowed to access any of the useful API methods, which means we won’t be able to read your folder.</em></p>

  <fieldset>
    <label for="username">Instapaper username:</label>
    <input type="text" name="username" value="<%= params[:username] || "" %>" id="username">
  </fieldset>

  <fieldset>
    <label for="password">Instapaper password:</label>
    <input type="password" name="password" value="" id="password">
  </fieldset>

  <% if flash[:auth_error] %>
    <p class="error">Your username/password combo was rejected by Instapaper. Typo?</p>
  <% elsif flash[:no_subscription] %>
    <p class="error">It looks like you’re not an Instapaper subscriber, so we aren’t allowed to access your folders.
      <a href="http://www.instapaper.com/subscription">Becoming an subscriber</a> is easy, supports the Instapaper project and only costs $1/month.<br>
      Alternatively, if you’re really not up for paying the $12 a year, you can become a subscriber, sign up here and then cancel your subscription. Seems a bit dodgy though.</p>

  <% else %>
    <p>Your password is never stored, only sent to Instapaper to authorise your account.</p>
  <% end %>

  <fieldset>
    <label for="folder_name">The name of the Instapaper folder you would like to share:</label>
    <input type="text" name="folder_name" value="<%= params[:folder_name] || "" %>" id="folder_name">
  </fieldset>
  <p>The folder doesn’t have to exist yet. You can set it up here, then go and create it in your Instapaper account later.</p>

  <fieldset>
    <label for="twitter_id">Your twitter username (optional):</label><br>
    <input type="text" name="twitter_id" value="<%= params[:twitter_id] || ""  %>" id="twitter_id">
  </fieldset>
  <p>You don’t need to provide your Twitter username, but if you do, we’ll link it up on your list page.</p>

  <fieldset>
    <label for="url">Your preferred url:</label><br>
    <span>http://<%= request.host_with_port %>/<input type="text" name="url" value="<%= params[:url] || ""  %>" id="url"></span>
    <% if flash[:duplicate_username] %>
      <p class="error">Sorry, someone is already using <a href="http://<%= request.host_with_port+'/'+params[:url]%>">http://<%= request.host_with_port+'/'+params[:url]%></a>. Please choose a different url.</p>
    <% end %>
  </fieldset>

  <fieldset>
    <p>Note: The contents of your folder will be scanned and updated every hour.</p>
    <button type="submit">Share —</button>
  </fieldset>
</form>